<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mint_bottom00</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_bottom01</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_bottom02</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_bottom03</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_left00</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_left01</key>
            <dict>
                <key>frame</key>
                <string>{{80,101},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_left02</key>
            <dict>
                <key>frame</key>
                <string>{{160,101},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_left03</key>
            <dict>
                <key>frame</key>
                <string>{{240,101},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_right00</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_right01</key>
            <dict>
                <key>frame</key>
                <string>{{80,202},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_right02</key>
            <dict>
                <key>frame</key>
                <string>{{160,202},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_right03</key>
            <dict>
                <key>frame</key>
                <string>{{240,202},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_top00</key>
            <dict>
                <key>frame</key>
                <string>{{0,303},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_top01</key>
            <dict>
                <key>frame</key>
                <string>{{80,303},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_top02</key>
            <dict>
                <key>frame</key>
                <string>{{160,303},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>mint_top03</key>
            <dict>
                <key>frame</key>
                <string>{{240,303},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero</string>
            <key>size</key>
            <string>{200,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873706d2c1ad9f5b33d90eefda3a7084$</string>
            <key>textureFileName</key>
            <string>hero</string>
        </dict>
    </dict>
</plist>